/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
crashlytics-build.properties
*.pidb.meta
*.pdb.meta
*.mdb.meta
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
Library/PackageCache/com.unity.burst@1.7.2/.Runtime/hostmac/lld
*.dylib
